"*":
  "exception-reporting":
    userId: "84b6eecf-5b74-458b-fce3-ceabd50c0c03"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    tabLength: 4
    zoomFontWhenCtrlScrolling: true
    fontSize: 17
  "atom-alignment": {}
  "instant-build":
    buildOnSave: false
